
.app-container {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

.login-container {
    width: 300px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.car-selection-container {
    width: 300px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

li:hover {
    background-color: #f0f0f0;
}

h3 {
    color: green;
}